* {
  font-family: "Roboto Mono", monospace;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::selection {
  color: #fff;
  background: #eb4634;
}

/* =============== Login =============== */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: center;
}
.login-form {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
}
.login-form img {
  width: 20%;
  height: auto;
}
.login-form h1 {
  margin: 0;
  color: #313136;
}
.lottie-container-login {
  background-color: #c2cacc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid #313136;
}
.login-btn {
  background-color: #c2cacc !important;
  width: 100%;
  border: 2px solid #313136;
  padding: 15px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.reg-btn {
  background-color: #313136 !important;
  width: 100%;
  border: 2px solid #c2cacc;
  padding: 15px;
  text-decoration: none;
  color: #c2cacc;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.reg-btn:hover {
  background-color: #313136 !important;
  width: 100%;
  border: 2px solid #c2cacc;
  padding: 15px;
  text-decoration: none;
  color: #c2cacc;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* =============== Navbar =============== */
.navbar {
  background-color: #c2cacc !important;
  margin: 0 !important;
  padding: 0 !important;
}
.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.nav-link:hover {
  color: #313136 !important;
  font-weight: 500 !important;
}
.dropdown-item:hover {
  color: #313136 !important;
}

/* =============== View Section =============== */
.accordion-button {
  font-size: 24px;
  text-decoration: none;
  color: #000 !important;
}
.acc-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.acc-label {
  margin: 0;
  color: #777;
  font-size: 14px;
}
.acc-response-failed {
  font-weight: 400;
  background-color: #eb4634;
  color: #fff !important;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.acc-response-success {
  font-weight: 400;
  background-color: #239918;
  color: #fff !important;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
#payment-amount {
  font-size: 20px;
}
.mid-acc-section {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e7e7e7e7;
  width: 100%;
  padding: 10px;
}

/* =============== Input Data Form =============== */
.input-data-form {
  border: 1px solid #e7e7e7;
  padding: 30px;
}
.section-heading {
  margin-bottom: 20px;
}
.section-heading h5 {
  font-weight: 500;
  margin: 0 !important;
}
/* =============== View Data Form =============== */
.view-data-table {
  border: 1px solid #e7e7e7e7;
  padding: 20px;
}

/* =============== Buttons =============== */
.confirm-button {
  background-color: #c2cacc;
  border: 2px solid #313136;
  border-radius: 0;
  width: 100%;
  padding: 10px;
}
.confirm-button:hover {
  font-weight: 600;
}
.edit-btn-sm {
  background-color: #c2cacc;
  border: 2px solid #313136;
  width: 100px;
}
.del-btn-sm {
  background-color: #313136 !important;
  border: 2px solid #313136 !important;
  width: 100px;
  color: #fff !important;
}

/* =============== Settings Section =============== */
.settings-section {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 30px;
}
