* {
  /* font-family: "Indie Flower", cursive; */
  font-family: "Open Sans", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::selection {
  color: #fff;
  background: #eb4634;
}
.maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.maintenance-lottie {
  width: 300px;
  height: 300px;
}
.maintenance h1 {
  font-weight: bolder;
}
.maintenance p {
  font-size: 24px;
}
/* ============== NAVBAR ============== */
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  max-width: 100% !important;
  height: auto;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}
.nav-link {
  font-size: 24px;
  font-family: "Indie Flower", cursive;
}
.nav-link:hover {
  color: #eb4634 !important;
}
.dropdown-item {
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}

/* Parent Login Page */
.inner-login-form a {
  text-decoration: none;
  font-weight: bold;
  color: #eb4634 !important;
}

/* ============= HOME SECTION 1 =============  */
.home-page-banner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.home-page-banner-1 img {
  width: 100%;
  height: auto;
}
.homepage-banner {
  background-color: #3b3386 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.homepage-banner-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 30px;
  padding: 30px;
}
.homepage-banner-content h1 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0 !important;
  font-size: 50px;
  color: #fff;
}
.homepage-first-span {
  color: orange;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.homepage-second-span {
  color: #4cc2c0;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.homepage-third-span {
  color: #8d91c1;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.homepage-fourth-span {
  color: #fdcd01;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
.homepage-banner-content h2 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0 !important;
}
.homepage-banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.homepage-banner-img img {
  width: 60%;
  height: auto;
}
.homepage-btn {
  background-color: #eb4634;
  border: 0;
  margin-top: 30px;
  width: 50%;
  padding: 10px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 20px;
}
.home-section-1-menu-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-section-1-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7e7;
  padding: 10px;
}
.home-section-1-menu:hover {
  border: 1px solid #fc8403;
  background-color: #fc8403;
  color: #000;
  transition: 0.3s all ease-in-out;
}
.home-section-1-menu a {
  text-decoration: none !important;
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  font-weight: bold;
}

/* =========== HOME SECTION 2 =========== */
.home-section-2-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px !important;
}
.home-section-2-lottie {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
}
.home-section-2-content {
  max-width: 100%;
}
.home-section-2-content h3 {
  font-size: 55px;
  font-weight: bold;
  color: #eb4634;
  margin-bottom: 30px;
  font-family: "Indie Flower", cursive;
}
.home-section-2-content span {
  color: #7568dd;
  font-family: "Indie Flower", cursive;
}
.home-section-2-content p {
  font-size: 20px;
}

/* ========== HOME SECTION 3 ========== */
.home-section-3 {
  margin-top: 50px;
  margin-bottom: 100px;
}
.home-section-3 h3 {
  font-size: 36px;
  font-weight: bold;
  color: #fc8403;
  font-family: "Indie Flower", cursive;
}
.home-section-3 p {
  font-size: 20px;
  margin-bottom: 30px;
}
.home-section-3 a {
  text-decoration: none !important;
  color: #b912e3;
  border: 1px solid #b912e3;
  border-radius: 100px;
  padding: 10px;
  font-size: 18px;
}
.home-section-3 a:hover {
  color: #fff;
  border: 1px solid #b912e3;
  background-color: #b912e3;
  transition: 0.3s all ease-in-out;
}

/* ========== ABOUT SECTION 1 ========== */
.about-section-1 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-1 img {
  width: 100%;
  height: 100%;
}

/* ========== ABOUT SECTION 2 ========== */
.about-section-2-row {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-2-img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-2-img img {
  width: 100%;
  height: 100%;
}
.about-section-2-content {
  padding: 50px;
}
.about-section-2-content h1 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: #7568dd;
}
.about-section-2-content p {
  font-size: 20px;
}

/* ========== ABOUT SECTION 3 ========== */
.about-section-3-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-3-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-3-lottie lottie-player {
  width: 100%;
  height: 100%;
}
.about-section-3-content {
  padding: 20px;
}
.about-section-3-content h2 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 40px;
  color: #4cc2c0;
}
.about-section-3-content p {
  font-size: 20px;
}

/* Founder Section */
.founder-section {
  margin-top: 100px !important;
}
.founder-section img {
  width: 15%;
  height: auto;
  border-radius: 5px;
}
.founder-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7e7;
}
.founder-details {
  width: 50%;
}
.founder-img-card {
  width: 300px !important;
  height: 350px;
  display: flex;
  justify-content: center !important;
  align-items: flex-end !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f5b399;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}
.founder-details img {
  width: 300px;
  height: 450px;
}

.founder-details h4 {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}
.founder-details p {
  font-family: "Josefin Sans", sans-serif;
}
.founder-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.founder-quote p {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.founder-quote span {
  color: #eb4634;
}
.founder-lottie {
  width: 400px !important;
  height: 400px !important;
}
.founder-description {
  font-size: 22px;
}

/* ========== ABOUT SECTION 4 ========== */
.amenities {
  display: flex;
  justify-content: center;
  align-items: center;
}
.amenities-card {
  border: 1px solid #e7e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 10px;
}
.amenities-card:hover,
.amenities-card:hover p {
  background-color: #eb4634;
  color: #fff;
}
.amenities-card p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.amenities-lottie {
  width: 100px;
  height: 100px;
  background-color: #00000000 !important;
}
.amenities-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.line {
  width: 200px;
  border-bottom: 1px solid #e7e7e7e7;
}
.amenities-heading p {
  font-size: 44px;
  color: #eb4634;
  font-weight: bolder;
  margin: 10px;
  text-align: center;
}

/* Teaching methodology */
.teaching-method {
  margin-bottom: 30px;
}
.first-para {
  font-size: 20px;
  line-height: 30px;
  background-color: #eb4634;
  color: #fff;
}
.second-para {
  font-size: 20px;
  line-height: 30px;
  background-color: #fc8403;
  color: #fff;
}
.third-para {
  font-size: 20px;
  line-height: 30px;
  background-color: #3dfc03;
  color: #000;
}
.fourth-para {
  font-size: 20px;
  line-height: 30px;
  background-color: #1270e3;
  color: #fff;
}
.fifth-para {
  font-size: 20px;
  line-height: 30px;
  background-color: #b912e3;
  color: #fff;
}
.inner-nav {
  margin-top: 100px;
}
.static-nav-link {
  font-size: 18px;
  color: #eb4634;
}
.method-heading {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin: 0 !important;
}
.method-label {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #eb4634;
}
.method-description {
  text-align: center;
  font-size: 18px;
}
.accordion-body {
  margin-bottom: 100px;
}

/* Grow With Us */
.breadcrumbs {
  background-color: #e7e7e7e7;
  padding: 20px;
  border-radius: 10px;
}
.breadcrumbs p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #000;
}
.classes-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.classes-card {
  border: 1px solid #e7e7e7;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
  color: #000;
}
.classes-card ion-icon {
  font-size: 30px;
}
.classes-card:hover,
.classes-card h3:hover,
.classes-card p:hover {
  background-color: #eb4634;
  color: #fff;
}
.classes-card h3 {
  font-weight: 600;
  margin-top: 5px;
}
.classes-card p {
  font-size: 18px;
  margin-top: 10px;
}
.classes-body {
  margin-top: 100px;
  margin-bottom: 100px;
}
.classes-body p {
  font-size: 24px;
}
.classes-list li {
  font-size: 24px;
}
.srp-notice {
  background-color: #eb4634;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}
.notice-1 {
  font-size: 36px !important;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.table-header th {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.table-body th {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.table-body td {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* =========== CONTACT =========== */
.admissions-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.admissions-banner img {
  width: 100%;
  height: auto;
}
.admission-section h1 {
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: #7568dd;
  font-size: 50px;
}
.admission-section p {
  margin: 0;
  color: #000;
  font-weight: 500;
}
.admission-form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.admission-form-lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admission-form-lottie lottie-player {
  width: 100%;
  height: 100%;
}
.admission-form {
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  padding: 40px;
}

/* =========== FOOTER =========== */
.footer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7e7;
  background-color: #fc8403;
  flex-direction: column;
}
.footer img {
  width: 20%;
  height: auto;
}
.footer-inner-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-inner-menu {
  width: 100%;
}
.footer-menu-link {
  margin: 0;
  text-decoration: none !important;
  color: #000;
  padding-bottom: 20px;
}
.footer-menu-link a {
  text-decoration: none !important;
  color: #000;
  text-align: center;
}

/* =========== DEVELOPER FOOTER =========== */
.developer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #eb4634;
}
.developer-footer p {
  margin: 0;
  text-align: center;
  color: #fff;
}
.developer-footer a {
  margin: 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  /* Navbar */
  .dropdown:hover .dropdown-menu {
    display: initial !important;
  }
  /* =========== HOME SECTION 1 =========== */
  .homepage-banner {
    background-color: #3b3386 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .homepage-banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0px;
    padding: 0px;
  }
  .homepage-banner-content h1 {
    font-size: 40px;
    margin-top: 25px !important;
    text-align: center;
    line-height: 50px;
  }
  .homepage-banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  .homepage-banner-img img {
    width: 50%;
    height: auto;
  }
  .homepage-btn {
    background-color: #eb4634;
    border: 0;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  .home-section-1-menu-row {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
  }
  .home-section-1-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7e7;
    padding: 10px;
    margin-bottom: 10px;
  }
  .home-section-1-menu:hover {
    border: 1px solid #fc8403;
    background-color: #fc8403;
    color: #000;
    transition: 0.3s all ease-in-out;
  }
  .home-section-1-menu a {
    text-decoration: none !important;
    margin: 0;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
    font-weight: bold;
  }

  /* =========== HOME SECTION 2 =========== */
  .home-section-2-row {
    justify-content: center;
    flex-direction: column;
  }
  .home-section-2o-lottie {
    width: 100%;
    height: 100%;
  }
  .home-section-2-content {
    max-width: 100%;
  }
  .home-section-2-content h3 {
    font-size: 35px;
    text-align: center;
  }
  .home-section-2-content p {
    font-size: 20px;
    text-align: center;
  }

  /* ========== ABOUT SECTION 2 ========== */
  .about-section-2-row {
    flex-direction: column;
  }
  .about-section-2-img {
    margin-bottom: 30px;
  }
  .about-section-2-content {
    padding: 10px;
  }
  .about-section-2-content h1 {
    text-align: center;
  }
  .about-section-2-content p {
    text-align: center;
  }

  /* Founder Section */
  .founder-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    /* border-bottom: 1px solid #e7e7e7e7; */
  }
  .founder-details {
    width: 100%;
  }
  .founder-img-card {
    width: 170px !important;
    height: 200px;
    display: flex;
    justify-content: center !important;
    align-items: flex-end !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f5b399;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  }
  .founder-details img {
    width: 170px;
    height: 250px;
  }
  .founder-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .founder-quote p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }
  .founder-lottie {
    display: none !important;
  }
  .founder-description {
    font-size: 18px;
    padding: 20px;
    text-align: justify;
  }

  /* Curriculum */
  .curriculum-section-banner {
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
  }
  .curriculum-section-banner h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
  }
  .curriculum-section-banner p {
    text-align: justify;
    font-size: 20px;
    padding: 10px;
  }
  .curriculum-lottie {
    width: 250px;
    height: 250px;
    margin-top: 20px !important;
  }
  .amenities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .amenities-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .line {
    width: 100px;
    border-bottom: 1px solid #e7e7e7e7;
  }
  .amenities-heading p {
    font-size: 30px;
    color: #eb4634;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
  }

  /* Grow With Us */
  .classes-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .classes-card {
    border: 1px solid #e7e7e7;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: #000;
  }
  .classes-card ion-icon {
    font-size: 30px;
  }
  .classes-card:hover,
  .classes-card h3:hover,
  .classes-card p:hover {
    background-color: #eb4634;
    color: #fff;
  }
  .classes-card h3 {
    font-weight: 600;
    margin-top: 5px;
  }
  .classes-card p {
    font-size: 18px;
    margin-top: 10px;
  }

  .methods {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* =========== CONTACT =========== */
  .admission-section h1 {
    text-align: center;
  }
  .admission-section p {
    text-align: center;
  }
  .admission-form-row {
    flex-direction: column;
  }
  .admission-form {
    padding: 20px;
    width: 100%;
  }

  /* =========== FOOTER =========== */
  .footer img {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
  }
  .footer-inner-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-inner-menu {
    width: 100%;
  }
  .footer-menu-link {
    margin: 0;
    text-decoration: none !important;
    color: #000;
  }
  .footer-menu-link a {
    text-decoration: none !important;
    color: #000;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
